
@using Microsoft.AspNetCore.Identity;
@using WishList.Models;

@inject SignInManager<ApplicationUser> SigninManager;


<div>
    <form asp-action="Logout" asp-controller="Account" method="post">
        <button type="submit">Logout</button>
    </form>
</div>


if (!SigninManager.IsSignedIn(User)) {

<div>
    <a asp-action="Register" asp-controller="Account">Register</a>
</div>
<div>
    <a asp-action="Login" asp-controller="Account">Log in</a>
</div>

}

